<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>
  
  <%- include('includes/profileShared') %>
  
    <div class="list-group">
      <% following.forEach(function(_following){ %>
        <a href="/profile/<%= _following.username %>" class="list-group-item list-group-item-action">
          <img class="avatar-tiny" src="<%= _following.avatar%>">
          <%= _following.username %>
        </a>
    <% }) %>
    </div>
  </div>
  

  <%- include('includes/footer') %>